{% load static %}
{% load static social_icons %}
<!-- Top Bar -->
<div class="tf-top-bar bg_white line">
    <div class="px_15 lg-px_40">
        <div class="tf-top-bar_wrap grid-3 gap-30 align-items-center">
            <ul class="tf-top-bar_item tf-social-icon d-flex gap-10">
                {% for s in social_links %}
                <li>
                    <a href="{{ s.url }}" target="_blank" rel="noopener"
                        class="box-icon w_28 round social-{{ s.network }} bg_line">
                        <i class="icon fs-12 {{ s.network|icon_for }}"></i>
                    </a>
                </li>
                {% endfor %}
            </ul>
            <div class="text-center overflow-hidden">
                <div dir="ltr" class="swiper tf-sw-top_bar" data-preview="1" data-space="0" data-loop="true"
                    data-speed="1000" data-delay="2000">
                    <div class="swiper-wrapper">
                        {% for m in topbar_messages %}
                        <div class="swiper-slide">
                            <p class="top-bar-text fw-5">{{ m.text }}</p>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Top Bar -->