{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- page-400 -->
<section class="page-404-wrap">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="image">
                    <img src="https://quesec-bikes-media.s3.ap-south-1.amazonaws.com/site/400.svg" alt="quesec">
                </div>
                <div class="title">
                    Bad Request
                </div>
                <p>The request could not be understood or was missing required parameters. Go to our homepage to check out our latest collections.</p>
                <a href="/" class="tf-btn btn-sm radius-3 btn-fill btn-icon animate-hover-btn">Shop
                    now</a>
            </div>
        </div>
    </div>
</section>
<!-- /page-400 -->
{% endblock %}

{% block models %}
<!-- toolbar-bottom -->
{% include 'partials/mobile-bottombar.html' %}
<!-- /toolbar-bottom -->
{% endblock %}