{% load static %}
<div class="tf-slideshow slider-effect-fade position-relative">
    <div dir="ltr" class="swiper tf-sw-slideshow" data-preview="1" data-tablet="1" data-mobile="1" data-centered="false"
        data-space="0" data-loop="true" data-auto-play="false" data-delay="0" data-speed="1000">
        <div class="swiper-wrapper">
            {% for s in slides %}
            <div class="swiper-slide">
                
                <div class="wrap-slider">
                    <img src="{{ s.image.url }}" alt="{{ s.title }}">
                    <div class="box-content">
                        <div class="container">
                            <h1 class="fade-item fade-item-1">{{ s.title }}</h1>
                            <a href="{{ s.link }}"
                                class="fade-item fade-item-3 tf-btn btn-fill animate-hover-btn btn-xl radius-3"><span>Shop
                                    collection</span><i class="icon icon-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="wrap-pagination">
        <div class="container">
            <div class="sw-dots sw-pagination-slider justify-content-center"></div>
        </div>
    </div>
</div>